.section-cards {
  position: relative;
  margin: 62px auto 133px auto;
  
  @extend .row;  
  @extend .container;

  @include mediaQuery(xl) {
    display: flex;
    
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  &__item {
    position: relative;
    grid-column: span 4;
    
    width: 100%;
    margin: 20px auto;

    font-family: var(--font-1);
    font-size: var(--font-normal);
    font-weight: lighter;

    background: linear-gradient(to top , #f7e6d8 60%, #F5ECE7 20%);
    border-radius: 3.5px;
  }  

  &__image{
    img {
      display: flex;
      align-items: center;

      object-fit: cover;
    }

    @include mediaQuery(lg) {
      width: 295px;
      height: 344px;
  
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    flex-direction: column;

    height: 156px;
    padding: 24px ;

    border-top: 3px dashed #fff;
    
    background-color: #F5ECE7;
    color: var(--brown);

    line-height: var(--line-height-normal);


    .section-cards__price {
      color: var(--orange);
      font-size: var(--font-lg);
    }
  }
}